.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
    display: flex;
    place-content: space-between;
}

.App-header small {
    padding: 1px;
}

.App-header h1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.App-header a {
    color: white;
    text-decoration: none;
    transition: all 1s ease-in;
}

.App-header a:hover {
    color: aquamarine;
    transition: all 1s ease-in;
}

@media (max-width:400px) {
    .App-header {
        padding: 10px;
    }

    .App-header h1 {
        display: flex;
        padding: 10px;
        flex-direction: column;
        font-size: 14px;
    }
}