.App {
  text-align: center;
}

.loadingPage {
  background: #000;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-grid {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.App-grid-item {
  width: 100%;
  height: 400px;
}
